@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
  background-color:darkgrey;
}
h1{
  color:#f26516;
  font-weight:bold;
  text-align:center;
  background-color:#ECE2D0;
  font-size:50px;
}
body{
  border:1px solid red;
  width:100%;
  font-size:25px;
  padding:10px;
}
.bigmg{
  width:60%;
  margin:auto;
}
.ani{
  float:right;
  text-decoration:none;
}
p.liscense{
  border:1px dashed green;
}
.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
/*Rebuild pls*/
